<!DOCTYPE html>
<html lang="ko">
    <%-include('head.ejs')%>
    <body>
        <%-include('header.ejs')%>
        <section class="container-sm my-4 p-2">
            <form action="/logincheck?next={{req.GET.next}}" method="POST">
                <fieldset class="row justify-content-center">
                    <div class="col-lg-6 boxshadow p-5">
                            <h2 class="text-center">나의 메모를 저장하는<br>My Record</h2>    
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInputID" name="eid" placeholder="아이디 입력" required>
                                <label for="floatingInputID">아이디</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="epw" placeholder="패스워드 입력" required>
                                <label for="floatingPassword">패스워드</label>
                            </div>
                            
                            <div class="d-grid gap-2 mt-4">
                                <input class="btn btn-primary btn-lg" type="submit" value="로그인">
                            </div>
                            <div class="d-flex justify-content-center my-4">
                                <a href="/findid?next={{req.GET.next}}">아이디 찾기</a>
                                <div class="vr mx-5"></div>
                                <a href="/findpw?next={{req.GET.next}}">비밀번호 찾기</a>
                            </div>
                            <hr class="hr mt-5">
                            <div class="d-flex justify-content-evenly my-4">
                                <div class="fw-bold">
                                    회원이 아니시면 회원가입을 하세요.
                                </div>
                                <button type="button" class="btn btn-outline-info px-5" onclick="location.href='/join?next=<%= req.query.next %>';">회원가입</button>
                            </div>
                    </div>
                </fieldset>
                <input type="hidden" name="next" value="<%= req.query.next %>">
            </form>
            <% if ( typeof msg !='undefined'){ %>
            <script>
                alert("{{msg}}");
                location.href="/login?next=<%= req.query.next %>";
            </script>
            <% } %>
        </section>
        <%-include('footer.ejs')%>
    </body>
</html>